* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

fieldset {
    flex-basis: 100%;
}

legend {
    font-weight: bold;
}

.formField {
    margin: 15px 0;
    display: flex;
}

.formField > div:nth-child(1) {
    flex-basis: 20%;
}

.formField > div:nth-child(2) {
    flex-basis: 90%;
}

.formField > div > input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.formField > input[type=submit] {
    background: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.buttonGroup {
    display: flex;
    gap: 15px;
    font-size: small;
    align-items: center;
}

.buttonGroup > * {
    display: block;
}

.errorMessage {
    padding: 5px 0;
    color: red;
    font-size: small;
}

@media screen and (min-width: 768px) {
    form {
        max-width: 500px;
    }
}