<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ appTitle }}</title>
</head>

<body>
    <form>
        <label>{{ loginLabel }}</label>
        <input type="text" />

        <label>{{ passwordLabel }}</label>
        <input type="password" />

        <input type="submit" value="{{ submitLabel }}" />
    </form>
</body>

</html>